<.flash_group flash={@flash} />

<%= live_render(@conn, FrostmountWeb.Lobby) %>

<hr class="my-8" />

<div class="text-center opacity-50">
  You can also press…

  <div class="my-4">
    <%= link("Quick Join", to: "/quick", class: "btn-quick_join") %>
  </div>

  …to get a random name for you character.
</div>
