<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" | Phoenix Workshop">
      <%= assigns[:page_title] || "Frostmount" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-slate-50 antialiased">
    <header class="px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-center mx-auto max-w-2xl py-4">
        <div class="flex items-center">
          <a href="/">
            <img src={~p"/images/logo.svg"} class="h-8" />
          </a>
        </div>
      </div>
    </header>

    <%= @inner_content %>
  </body>
</html>
